@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

div {
    margin: auto;
    margin-left: 20px;
    margin-top: 40px;
}